/* Bandicoot Form */
.bandicoot-form-section {
  background: linear-gradient(to right, #fcd901, #fdf4ae);
  padding: 4rem 1rem;
  text-align: center;
  margin-top: 4rem;

  .form_title {
    margin: 0 auto;

    h1 {
      font-family: "Anton", sans-serif;
      font-size: 2.5rem;
      text-align: center;
      padding-bottom: 10px;
    }

    p {
      font-size: 1.3rem;
      font-family: "Roboto", sans-serif;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 20px;
      width: 60%;

      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }

  .bandicoot-form {
    background: #fffdf5;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;

    label {
      display: block;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 1.2rem;

      input,
      textarea,
      select {
        width: 100%;
        margin-top: 0.4rem;
        padding: 0.8rem;
        font-size: 1rem;
        border: none;
        border-radius: 4px;
        background-color: #f1f1e8;
        font-family: "Roboto", sans-serif;
      }

      textarea {
        min-height: 120px;
        resize: vertical;
      }

      .radio_ {
        width: 15px;
        height: 15px;
        accent-color: #fcd901;
        cursor: pointer;
      }
    }

    button {
      display: block;
      width: 60%;
      margin-top: 1rem;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      background-color: #fcd901;
      border: none;
      border-radius: 6px;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin: 0 auto;

      &:hover {
        background-color: #e5c300;
      }
    }

    .checkbox_item {
      display: flex;
      align-items: center;

      label {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: normal;
        gap: 0.5rem;
        font-weight: 600;
        font-family: "Roboto", sans-serif;

        input[type="checkbox"] {
          width: 16px;
          height: 16px;
          accent-color: #fcd901;
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: 440px) {
    .form_title {
      h1 {
        font-size: 1.7rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }

  @media screen and (min-width: 3840px) {
    padding: 8rem 2rem;

    .form_title {
      h1 {
        font-size: 5rem;
        padding-bottom: 2rem;
      }

      p {
        font-size: 2rem;
        line-height: 3rem;
        width: 80%;
        padding-bottom: 3rem;
      }
    }

    .bandicoot-form {
      max-width: 1600px;
      padding: 4rem;
      border-radius: 20px;

      label {
        font-size: 1.6rem;
        margin-bottom: 2rem;

        input,
        textarea,
        select {
          padding: 1.5rem;
          font-size: 1.5rem;
          border-radius: 8px;
        }

        textarea {
          min-height: 200px;
        }

        .radio_ {
          width: 24px;
          height: 24px;
        }
      }

      button {
        width: 40%;
        padding: 1.5rem 2.5rem;
        font-size: 1.8rem;
        border-radius: 10px;
      }

      .checkbox_item {
        label {
          font-size: 1.5rem;
          gap: 1rem;

          input[type="checkbox"] {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }
}

.csr_page {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 10rem 0;
  background-color: white;

  h1 {
    font-family: "Anton", sans-serif;
  }

  p {
    font-size: 1.2rem;
    text-align: justify;
    font-family: "Roboto", sans-serif;
  }
  h3 {
    font-size: 1.5rem;
    padding: 20px 0;
    font-family: "Anton", sans-serif;
  }

  .btn_grp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20;
    margin-top: 4rem;

    a {
      background-color: #f7dd3e;
      color: #000;
      padding: 10px 30px;
      border-radius: 4px;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }
  }

  ol {
    color: #000;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    padding-left: 1.5rem;
    list-style: decimal;
    li {
      font-size: 1.2rem;
      padding: 10px 0;
    }
  }

  ul {
    color: #000;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    padding-left: 1.5rem;
    list-style-type: disc;

    li {
      font-size: 1.2rem;
      padding: 5px 0;
    }
  }

  h2 {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}


.lifeAt_sec {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  padding-top: 5rem;

  h1 {
    font-family: "Anton", sans-serif;
    text-align: center;
  }

  p {
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding-bottom: 20px;
    font-size: 1rem;
  }

  .slider_wrapper {
    padding: 0;

    .slick-slider {
      overflow: visible !important;
      width: fit-content !important;
    }

    .sanitary_card {
      margin: 10px;
      width: 100%;
      overflow: hidden;
      border-radius: 30px;
      transition: all 0.2s ease-in-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.2s ease-in-out;
      }
    }

    .slick-center {
      transform: scale(1) !important;
      opacity: 1 !important;
    }
    .slick-slide {
      transform: scale(0.89);
      transition: transform 0.3s ease;
      opacity: 0.7;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(0.9);
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 600px) {
    min-height: 100%;
    overflow: hidden;

    p {
      position: relative;
      padding-bottom: 10px;
      font-size: 14px;

      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        background: linear-gradient(
          90deg,
          rgba(252, 217, 1, 0) 0%,
          rgba(0, 0, 0, 0.819) 50%,
          rgba(252, 217, 1, 0) 100%
        );
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }
    }
    .slider_wrapper {
      padding-top: 2rem;
    }
  }

  @media screen and (max-width: 2560px) {
    min-height: 100%;
    padding-bottom: 10rem;
  }

  @media screen and (min-width: 3840px) {
    padding-bottom: 10rem;
    min-height: 75vh;

    h1 {
      font-size: 5rem;
    }

    p {
      font-size: 1.8rem;
      line-height: 2.8rem;
      padding-bottom: 40px;
      max-width: 1400px;
      margin: 0 auto;
    }

    .slider_wrapper {
      padding: 6rem 0;

      .sanitary_card {
        margin: 20px;
        border-radius: 50px;

        img {
          border-radius: 50px;
        }
      }

      .slick-slide {
        transform: scale(0.92);
      }

      .slick-center {
        transform: scale(1.05) !important;
      }
    }
  }
}